SS-Mobile-Two/MiniGame.TakePhotoAndPlay/sdkSilverlightXNACS/sdkSilverlightXNACS/Service References/MiniGameService/MiniGameService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MiniGame.DataContractsShared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MiniGame.DataContractsShared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHeroDataContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HeroDataContact" nillable="true" type="tns:HeroDataContact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHeroDataContact" nillable="true" type="tns:ArrayOfHeroDataContact" />
  <xs:complexType name="HeroDataContact">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsInYourTeam" type="xs:boolean" />
      <xs:element minOccurs="0" name="MemberPhoto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeroDataContact" nillable="true" type="tns:HeroDataContact" />
  <xs:complexType name="Team">
    <xs:sequence>
      <xs:element minOccurs="0" name="BombCount" type="xs:int" />
      <xs:element minOccurs="0" name="EnemyCount" type="xs:int" />
      <xs:element minOccurs="0" name="Heros" nillable="true" type="tns:ArrayOfHeroDataContact" />
      <xs:element minOccurs="0" name="IsConfirmedStart" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsWinner" type="xs:boolean" />
      <xs:element minOccurs="0" name="LatestChanges" nillable="true" type="tns:GameStateChanges" />
      <xs:element minOccurs="0" name="MeCount" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Team" nillable="true" type="tns:Team" />
  <xs:complexType name="GameStateChanges">
    <xs:sequence>
      <xs:element minOccurs="0" name="BombsAdded" type="xs:int" />
      <xs:element minOccurs="0" name="BombsRemoved" type="xs:int" />
      <xs:element minOccurs="0" name="EnemiesRemoved" type="xs:int" />
      <xs:element minOccurs="0" name="FriendsRemoved" type="xs:int" />
      <xs:element minOccurs="0" name="IsGameOver" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsWinner" type="xs:boolean" />
      <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameStateChanges" nillable="true" type="tns:GameStateChanges" />
</xs:schema>