SS-Mobile-Two/MiniGame.TakePhotoAndPlay/sdkSilverlightXNACS/sdkSilverlightXNACS/Service References/MiniGameService/MiniGameService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60428/MiniGameService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MiniGame.DataContractsShared" />
  <xs:element name="RegisterMe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterMeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterMeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MiniGame.DataContractsShared" minOccurs="0" name="myHeros" nillable="true" type="q1:ArrayOfHeroDataContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetTeamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnemyTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myTeamName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnemyTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MiniGame.DataContractsShared" minOccurs="0" name="GetEnemyTeamResult" nillable="true" type="q2:Team" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBombToEnemy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="myTeamName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBombToEnemyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MiniGame.DataContractsShared" minOccurs="0" name="AddBombToEnemyResult" nillable="true" type="q3:GameStateChanges" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformAboutWin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myTeamName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformAboutWinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MiniGame.DataContractsShared" minOccurs="0" name="InformAboutWinResult" nillable="true" type="q4:GameStateChanges" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformAboutLose">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myTeamName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformAboutLoseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MiniGame.DataContractsShared" minOccurs="0" name="InformAboutLoseResult" nillable="true" type="q5:GameStateChanges" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myTeamName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MiniGame.DataContractsShared" minOccurs="0" name="RetrieveChangesResult" nillable="true" type="q6:GameStateChanges" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>