SS-Mobile-Two/MiniGame.TakePhotoAndPlay/sdkSilverlightXNACS/sdkSilverlightXNACS/Service References/MiniGameService/MiniGameService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MiniGameService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60428/MiniGameService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60428/MiniGameService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60428/MiniGameService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MiniGame.DataContractsShared" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMiniGameService_RegisterMe_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterMe" />
  </wsdl:message>
  <wsdl:message name="IMiniGameService_RegisterMe_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterMeResponse" />
  </wsdl:message>
  <wsdl:message name="IMiniGameService_SetTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTeam" />
  </wsdl:message>
  <wsdl:message name="IMiniGameService_SetTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTeamResponse" />
  </wsdl:message>
  <wsdl:message name="IMiniGameService_GetEnemyTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEnemyTeam" />
  </wsdl:message>
  <wsdl:message name="IMiniGameService_GetEnemyTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEnemyTeamResponse" />
  </wsdl:message>
  <wsdl:message name="IMiniGameService_AddBombToEnemy_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBombToEnemy" />
  </wsdl:message>
  <wsdl:message name="IMiniGameService_AddBombToEnemy_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBombToEnemyResponse" />
  </wsdl:message>
  <wsdl:message name="IMiniGameService_InformAboutWin_InputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutWin" />
  </wsdl:message>
  <wsdl:message name="IMiniGameService_InformAboutWin_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutWinResponse" />
  </wsdl:message>
  <wsdl:message name="IMiniGameService_InformAboutLose_InputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutLose" />
  </wsdl:message>
  <wsdl:message name="IMiniGameService_InformAboutLose_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutLoseResponse" />
  </wsdl:message>
  <wsdl:message name="IMiniGameService_RetrieveChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveChanges" />
  </wsdl:message>
  <wsdl:message name="IMiniGameService_RetrieveChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveChangesResponse" />
  </wsdl:message>
  <wsdl:portType name="IMiniGameService">
    <wsdl:operation name="RegisterMe">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiniGameService/RegisterMe" message="tns:IMiniGameService_RegisterMe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiniGameService/RegisterMeResponse" message="tns:IMiniGameService_RegisterMe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiniGameService/SetTeam" message="tns:IMiniGameService_SetTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiniGameService/SetTeamResponse" message="tns:IMiniGameService_SetTeam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEnemyTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiniGameService/GetEnemyTeam" message="tns:IMiniGameService_GetEnemyTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiniGameService/GetEnemyTeamResponse" message="tns:IMiniGameService_GetEnemyTeam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBombToEnemy">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiniGameService/AddBombToEnemy" message="tns:IMiniGameService_AddBombToEnemy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiniGameService/AddBombToEnemyResponse" message="tns:IMiniGameService_AddBombToEnemy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformAboutWin">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiniGameService/InformAboutWin" message="tns:IMiniGameService_InformAboutWin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiniGameService/InformAboutWinResponse" message="tns:IMiniGameService_InformAboutWin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformAboutLose">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiniGameService/InformAboutLose" message="tns:IMiniGameService_InformAboutLose_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiniGameService/InformAboutLoseResponse" message="tns:IMiniGameService_InformAboutLose_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveChanges">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiniGameService/RetrieveChanges" message="tns:IMiniGameService_RetrieveChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiniGameService/RetrieveChangesResponse" message="tns:IMiniGameService_RetrieveChanges_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMiniGameService" type="tns:IMiniGameService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterMe">
      <soap:operation soapAction="http://tempuri.org/IMiniGameService/RegisterMe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTeam">
      <soap:operation soapAction="http://tempuri.org/IMiniGameService/SetTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnemyTeam">
      <soap:operation soapAction="http://tempuri.org/IMiniGameService/GetEnemyTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBombToEnemy">
      <soap:operation soapAction="http://tempuri.org/IMiniGameService/AddBombToEnemy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformAboutWin">
      <soap:operation soapAction="http://tempuri.org/IMiniGameService/InformAboutWin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformAboutLose">
      <soap:operation soapAction="http://tempuri.org/IMiniGameService/InformAboutLose" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveChanges">
      <soap:operation soapAction="http://tempuri.org/IMiniGameService/RetrieveChanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MiniGameService">
    <wsdl:port name="BasicHttpBinding_IMiniGameService" binding="tns:BasicHttpBinding_IMiniGameService">
      <soap:address location="http://localhost:60428/MiniGameService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>