SS-Mobile-One/WindowsPhonePizzaDelivery/PizzaDeliveryClient/WP7PizzaDelivery/Service References/PizzaDelivery/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9777/PizzaDeliveryServices/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PizzaDeliveryServices" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateMileage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PizzaDeliveryServices" minOccurs="0" name="request" nillable="true" type="q1:CalculateMileageRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateMileageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PizzaDeliveryServices" minOccurs="0" name="CalculateMileageResult" nillable="true" type="q2:CalculateMileageResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PizzaDeliveryServices" minOccurs="0" name="request" nillable="true" type="q3:CalculateRouteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PizzaDeliveryServices" minOccurs="0" name="CalculateRouteResult" nillable="true" type="q4:CalculateRouteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>