SS-Mobile-One/WindowsPhonePizzaDelivery/PizzaDeliveryClient/WP7PizzaDelivery/Service References/PizzaDelivery/PizzaDelivery.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PizzaDelivery" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9777/PizzaDeliveryServices/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9777/PizzaDeliveryServices/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9777/PizzaDeliveryServices/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PizzaDeliveryServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPizzaDelivery_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IPizzaDelivery_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IPizzaDelivery_CalculateMileage_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateMileage" />
  </wsdl:message>
  <wsdl:message name="IPizzaDelivery_CalculateMileage_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateMileageResponse" />
  </wsdl:message>
  <wsdl:message name="IPizzaDelivery_CalculateRoute_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateRoute" />
  </wsdl:message>
  <wsdl:message name="IPizzaDelivery_CalculateRoute_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateRouteResponse" />
  </wsdl:message>
  <wsdl:portType name="IPizzaDelivery">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaDelivery/Ping" message="tns:IPizzaDelivery_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaDelivery/PingResponse" message="tns:IPizzaDelivery_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateMileage">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaDelivery/CalculateMileage" message="tns:IPizzaDelivery_CalculateMileage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaDelivery/CalculateMileageResponse" message="tns:IPizzaDelivery_CalculateMileage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateRoute">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaDelivery/CalculateRoute" message="tns:IPizzaDelivery_CalculateRoute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaDelivery/CalculateRouteResponse" message="tns:IPizzaDelivery_CalculateRoute_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPizzaDelivery" type="tns:IPizzaDelivery">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IPizzaDelivery/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateMileage">
      <soap:operation soapAction="http://tempuri.org/IPizzaDelivery/CalculateMileage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateRoute">
      <soap:operation soapAction="http://tempuri.org/IPizzaDelivery/CalculateRoute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PizzaDelivery">
    <wsdl:port name="BasicHttpBinding_IPizzaDelivery" binding="tns:BasicHttpBinding_IPizzaDelivery">
      <soap:address location="http://localhost:9777/PizzaDeliveryServices/basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>