SS-Mobile-One/WCEmergency/WCEmergency/Service References/WCServiceReference/WCEmergencyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCEmergency.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCEmergency.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49282/WCEmergencyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Coordinate">
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Coordinate" nillable="true" type="tns:Coordinate" />
  <xs:complexType name="ArrayOfToilet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Toilet" nillable="true" type="tns:Toilet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfToilet" nillable="true" type="tns:ArrayOfToilet" />
  <xs:complexType name="Toilet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coordinate" nillable="true" type="tns:Coordinate" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Rate" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Sex" type="tns:Sex" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Toilet" nillable="true" type="tns:Toilet" />
  <xs:simpleType name="Sex">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Male">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Female">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Unisex">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Sex" nillable="true" type="tns:Sex" />
</xs:schema>